In [8]:
import pandas as pd
import numpy as np

## Practice #1: Going from Microsoft to Google

In [9]:
df = pd.DataFrame(
    {'Member_ID': [1, 1, 1, 2, 2, 2, 3, 3, 3, 3],
     'Company': ['Microsoft', 'Google', 'Facebook',
                 'Microsoft', 'Google', 'Oracle',
                 'Microsoft', 'Oracle', 'Microsoft', 'Google',
                ],
     'Year_Start': [2000, 2006, 2012, 
                    2001, 2007, 2004,
                    2001, 2002, 2003, 2004
                   ]
   }
)

df

     Company  Member_ID  Year_Start
0  Microsoft          1        2000
1     Google          1        2006
2   Facebook          1        2012
3  Microsoft          2        2001
4     Google          2        2007
5     Oracle          2        2004
6  Microsoft          3        2001
7     Oracle          3        2002
8  Microsoft          3        2003
9     Google          3        2004

**Q1: How many went from MS to G?**

In [6]:
# PUT YOUR ANSWER HERE

**Q2: How many went directly from MS to G?**

In [7]:
# PUT YOUR ANSWER HERE

**Answer**

In [10]:
# Q1:
df2 = pd.merge(df,df,left_on='Member_ID',right_on='Member_ID')
df2 = df2.loc[(df2['Company_x'] == 'Microsoft')&(df2['Company_y'] == 'Google')&(df2['Year_Start_x']<df2['Year_Start_y'])]
len(df2.index)

4

In [11]:
# Q2:
df.sort_values(by=['Member_ID','Year_Start'])
df['new_rank'] = pd.groupby(df,['Member_ID'])['Company'].shift(1)
df = df.loc[(df['Company']=='Google') &(df['new_rank']=='Microsoft')]
df['Member_ID'].size

E:\python\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: pd.groupby() is deprecated and will be removed Please use the Series.groupby() or DataFrame.groupby() methods
  app.launch_new_instance()

3

## Practice #2: Latest Subscription Status

In [15]:
# Assume the status table represents status as of 2019-07-01
status = pd.DataFrame(
    {'member_id': [1, 2, 3, 4],
     'status': ['on', 'off', 'on', 'off'],
   }
)

# Members can turn on/off the status
actions = pd.DataFrame(
    {'member_id': [1, 1, 2, 4, 4, 5],
     'date_sk': ['2019-07-02',
                 '2019-07-05',
                 '2019-07-03',
                 '2019-07-10',
                 '2019-07-13',
                 '2019-07-09',
                ],
     'action': ['turn_off',
                'turn_on',
                'turn_on',
                'turn_on',
                'turn_off',
                'turn_on',         
               ],
    }
)

In [6]:
status

   member_id status
0          1     on
1          2    off
2          3     on
3          4    off

In [7]:
actions

     action     date_sk  member_id
0  turn_off  2019-07-02          1
1   turn_on  2019-07-05          1
2   turn_on  2019-07-03          2
3   turn_on  2019-07-10          4
4  turn_off  2019-07-13          4
5   turn_on  2019-07-09          5

**Q: Latest status for each member?**

In [13]:
# PUT YOUR ANSWER HERE

**Answer**

In [16]:
latest_date = pd.groupby(actions,['member_id'])['member_id','date_sk'].max()
latest_status = pd.merge(left=latest_date,right=actions, on=['member_id','date_sk'])

merged = pd.merge(left=status,right=latest_status, on='member_id',how ='left')
merged['action'] = merged['action'].fillna(merged['status'])
merged['action'] = merged['action'].apply(lambda x: 'on' if x in ['turn_on','on'] else  'off')
merged

E:\python\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: pd.groupby() is deprecated and will be removed Please use the Series.groupby() or DataFrame.groupby() methods
  if __name__ == '__main__':

   member_id status     date_sk action
0          1     on  2019-07-05     on
1          2    off  2019-07-03     on
2          3     on         NaN     on
3          4    off  2019-07-13    off

In [17]:
merged = merged[['member_id','action']]
merged

   member_id action
0          1     on
1          2     on
2          3     on
3          4    off