In [28]:
import datetime

## Datetime

In [30]:
now = datetime.datetime.now()
now

datetime.datetime(2019, 12, 22, 16, 47, 3, 229581)

In [7]:
str(now)

'2019-12-22 16:27:48.241566'

In [8]:
now.year, now.month, now.day

(2019, 12, 22)

In [32]:
# delta is the time difference
delta = datetime.datetime(2019,1,15) - datetime.datetime(2019,1,7)
delta

datetime.timedelta(8)

In [33]:
delta = datetime.datetime(2019,1,15) - datetime.datetime(2019,1,7,18)
delta

datetime.timedelta(7, 21600)

In [34]:
delta.days , delta.seconds

(7, 21600)

In [39]:
start =  datetime.datetime(2019,1,15) 
start = start + datetime.timedelta(5)
start

datetime.datetime(2019, 1, 20, 0, 0)

In [40]:
start = start - 2* datetime.timedelta(minutes = 5)
start

datetime.datetime(2019, 1, 19, 23, 50)

## Format Datetime

In [45]:
today = datetime.date.today()
today

datetime.date(2019, 12, 22)

In [46]:
# covert date to datetime
today.ctime()

'Sun Dec 22 00:00:00 2019'

In [26]:
str(start)

'2019-01-19 23:50:00'

In [24]:
start.strftime('%Y-%m-%d')

'2019-01-19'

### Time    
    %H: Returns the hour. In our example, it returned "00".
	%M: Returns the minute, from 00 to 59. In our example, it returned "00".
	%S: Returns the second, from 00 to 59. In our example, it returned "00".
	%f: Returns microsecond from 000000 to 999999.
	%p: Returns AM/PM for time.
    %Z: Returns the timezone.
    %z: Returns UTC offset.
### Date	
	%y: Returns the year in two-digit format, that is, without the century. For example, "18" instead of "2018".
	%Y: Returns the year in four-digit format. In our example, it returned "2018".
    %b: Returns the first three characters of the month name. In our example, it returned "Sep"
	%B: Returns the full name of the month, e.g. September.
	%m: Returns the month as a number, from 01 to 12.
    %d: Returns day of the month, from 1 to 31. In our example, it returned "15".
    %j: Returns the number of the day in the year, from 001 to 366.
### Weekday	
	
    %a: Returns the first three characters of the weekday, e.g. Wed.
    %A: Returns the full name of the weekday, e.g. Wednesday.   
    %w: Returns the weekday as a number, from 0 to 6, with Sunday being 0.
    %W: Returns the week number of the year, from 00 to 53, with Monday being counted as the first day of the week.
    %U: Returns the week number of the year, from 00 to 53, with Sunday counted as the first day of each week.
### Local
    %c: Returns the local date and time version.
    %x: Returns the local version of date.
    %X: Returns the local version of time.

In [49]:
# covert string to datetime
string = '2019/11/9'
nowdate = datetime.datetime.strptime(string, '%Y/%m/%d')
nowdate

datetime.datetime(2019, 11, 9, 0, 0)

## Time Series

In [50]:
dates = [datetime.datetime(2019,1,15) ,datetime.datetime(2019,1,8) ,datetime.datetime(2019,1,20) 
         ,datetime.datetime(2019,1,25) ,datetime.datetime(2019,3,15) ]

In [79]:
import pandas as pd
import numpy as np
ts = pd.Series(np.random.randn(5), index = dates)
ts

2019-01-15    0.289923
2019-01-08   -0.066815
2019-01-20   -0.599132
2019-01-25   -0.282833
2019-03-15   -0.675058
dtype: float64

In [59]:
ts.index

DatetimeIndex(['2019-01-15', '2019-01-08', '2019-01-20', '2019-01-25',
               '2019-03-15'],
              dtype='datetime64[ns]', freq=None)

In [61]:
# the index saved as timestamp
firsttime = ts.index[0]
firsttime

Timestamp('2019-01-15 00:00:00')

In [62]:
# get value by index
ts[firsttime]

-0.10688615480175818

In [63]:
ts['2019-01-15']

2019-01-15   -0.106886
dtype: float64

In [65]:
# filter time series
print(ts['2019-01'].count())
ts['2019-01']

4

2019-01-15   -0.106886
2019-01-08    0.522423
2019-01-20   -2.025940
2019-01-25   -0.104659
dtype: float64

In [66]:
ts['2019-01-15':'2019-01-25']

2019-01-15   -0.106886
2019-01-20   -2.025940
2019-01-25   -0.104659
dtype: float64

In [67]:
# set right bound of time series by truncate
ts.truncate(after = '2019-01-25')

2019-01-15   -0.106886
2019-01-08    0.522423
2019-01-20   -2.025940
2019-01-25   -0.104659
dtype: float64

In [80]:
# you can have duplicated index in time series
ts=ts.append(pd.Series(1, index =[datetime.datetime(2019,1,15)] ))
ts

2019-01-15    0.289923
2019-01-08   -0.066815
2019-01-20   -0.599132
2019-01-25   -0.282833
2019-03-15   -0.675058
2019-01-15    1.000000
dtype: float64

In [81]:
ts['2019-01-15']

2019-01-15    0.289923
2019-01-15    1.000000
dtype: float64

In [85]:
# group by index
grouped = ts.groupby(level = 0).count()
grouped

2019-01-08    1
2019-01-15    2
2019-01-20    1
2019-01-25    1
2019-03-15    1
dtype: int64

In [107]:
# shift time series value by 1
ts.shift(1)

2019-01-15         NaN
2019-01-08    0.289923
2019-01-20   -0.066815
2019-01-25   -0.599132
2019-03-15   -0.282833
2019-01-15   -0.675058
dtype: float64

In [109]:
# if you want to shift index instead, add freq as parameter
ts.shift(1, freq ='D')

2019-01-16    0.289923
2019-01-09   -0.066815
2019-01-21   -0.599132
2019-01-26   -0.282833
2019-03-16   -0.675058
2019-01-16    1.000000
dtype: float64

## Generate date range

In [86]:
pd.date_range('2019-01-15','2019-01-25')

DatetimeIndex(['2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18',
               '2019-01-19', '2019-01-20', '2019-01-21', '2019-01-22',
               '2019-01-23', '2019-01-24', '2019-01-25'],
              dtype='datetime64[ns]', freq='D')

In [88]:
pd.date_range(start = '2019-01-15',periods = 10)

DatetimeIndex(['2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18',
               '2019-01-19', '2019-01-20', '2019-01-21', '2019-01-22',
               '2019-01-23', '2019-01-24'],
              dtype='datetime64[ns]', freq='D')

In [89]:
pd.date_range(end = '2019-01-15',periods = 10)

DatetimeIndex(['2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09',
               '2019-01-10', '2019-01-11', '2019-01-12', '2019-01-13',
               '2019-01-14', '2019-01-15'],
              dtype='datetime64[ns]', freq='D')

In [92]:
# every weeks
pd.date_range('2019-01-15','2020-01-25', freq ='W') # default to 'D', days

DatetimeIndex(['2019-01-20', '2019-01-27', '2019-02-03', '2019-02-10',
               '2019-02-17', '2019-02-24', '2019-03-03', '2019-03-10',
               '2019-03-17', '2019-03-24', '2019-03-31', '2019-04-07',
               '2019-04-14', '2019-04-21', '2019-04-28', '2019-05-05',
               '2019-05-12', '2019-05-19', '2019-05-26', '2019-06-02',
               '2019-06-09', '2019-06-16', '2019-06-23', '2019-06-30',
               '2019-07-07', '2019-07-14', '2019-07-21', '2019-07-28',
               '2019-08-04', '2019-08-11', '2019-08-18', '2019-08-25',
               '2019-09-01', '2019-09-08', '2019-09-15', '2019-09-22',
               '2019-09-29', '2019-10-06', '2019-10-13', '2019-10-20',
               '2019-10-27', '2019-11-03', '2019-11-10', '2019-11-17',
               '2019-11-24', '2019-12-01', '2019-12-08', '2019-12-15',
               '2019-12-22', '2019-12-29', '2020-01-05', '2020-01-12',
               '2020-01-19'],
              dtype='datetime64[ns]', freq='W-SUN')

In [101]:
# every months end
pd.date_range('2019-01-15','2020-01-25', freq ='M')

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [102]:
# every months start
pd.date_range('2019-01-15','2020-01-25', freq ='MS')

DatetimeIndex(['2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01',
               '2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01',
               '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [103]:
# every business months start, the first business day of that month
pd.date_range('2019-01-15','2020-01-25', freq ='BMS')

DatetimeIndex(['2019-02-01', '2019-03-01', '2019-04-01', '2019-05-01',
               '2019-06-03', '2019-07-01', '2019-08-01', '2019-09-02',
               '2019-10-01', '2019-11-01', '2019-12-02', '2020-01-01'],
              dtype='datetime64[ns]', freq='BMS')

In [95]:
# every 5 months
pd.date_range('2019-01-15','2020-01-25', freq ='5M')

DatetimeIndex(['2019-01-31', '2019-06-30', '2019-11-30'], dtype='datetime64[ns]', freq='5M')

In [100]:
pd.date_range('2019-01-15','2020-01-16', freq ='5H30min')

DatetimeIndex(['2019-01-15 00:00:00', '2019-01-15 05:30:00',
               '2019-01-15 11:00:00', '2019-01-15 16:30:00',
               '2019-01-15 22:00:00', '2019-01-16 03:30:00',
               '2019-01-16 09:00:00', '2019-01-16 14:30:00',
               '2019-01-16 20:00:00', '2019-01-17 01:30:00',
               ...
               '2020-01-13 22:00:00', '2020-01-14 03:30:00',
               '2020-01-14 09:00:00', '2020-01-14 14:30:00',
               '2020-01-14 20:00:00', '2020-01-15 01:30:00',
               '2020-01-15 07:00:00', '2020-01-15 12:30:00',
               '2020-01-15 18:00:00', '2020-01-15 23:30:00'],
              dtype='datetime64[ns]', length=1598, freq='330T')

In [105]:
# every third week Friday of the month 
pd.date_range('2019-01-15','2019-05-16', freq ='WOM-3Fri')
# OMG, Python is so powerful and flexible in terms of manipulating dates!

DatetimeIndex(['2019-01-18', '2019-02-15', '2019-03-15', '2019-04-19'], dtype='datetime64[ns]', freq='WOM-3FRI')

In [96]:
pd.date_range(start = '2019-01-15 12:56:33',periods = 10)

DatetimeIndex(['2019-01-15 12:56:33', '2019-01-16 12:56:33',
               '2019-01-17 12:56:33', '2019-01-18 12:56:33',
               '2019-01-19 12:56:33', '2019-01-20 12:56:33',
               '2019-01-21 12:56:33', '2019-01-22 12:56:33',
               '2019-01-23 12:56:33', '2019-01-24 12:56:33'],
              dtype='datetime64[ns]', freq='D')

In [97]:
pd.date_range(start = '2019-01-15 12:56:33',periods = 10, normalize = True)

DatetimeIndex(['2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18',
               '2019-01-19', '2019-01-20', '2019-01-21', '2019-01-22',
               '2019-01-23', '2019-01-24'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2019-01-15 00:00:00', '2019-01-15 05:30:00',
               '2019-01-15 11:00:00', '2019-01-15 16:30:00',
               '2019-01-15 22:00:00', '2019-01-16 03:30:00',
               '2019-01-16 09:00:00', '2019-01-16 14:30:00',
               '2019-01-16 20:00:00', '2019-01-17 01:30:00',
               ...
               '2020-01-13 22:00:00', '2020-01-14 03:30:00',
               '2020-01-14 09:00:00', '2020-01-14 14:30:00',
               '2020-01-14 20:00:00', '2020-01-15 01:30:00',
               '2020-01-15 07:00:00', '2020-01-15 12:30:00',
               '2020-01-15 18:00:00', '2020-01-15 23:30:00'],
              dtype='datetime64[ns]', length=1598, freq='330T')